:root {
  /* navbar height offset*/
  --navbar-offset: 6rem;
  /* Color Theme Swatches in RGBA */
  --headerColor:rgb(10, 35, 38);
  --headerTextColor: rgb(28, 165, 175);
  --headerTextHover:rgb(198, 234, 233);

  --sloganColor:rgb(10, 127, 140);
  --sectionHeaderColor: rgb(12, 126, 130);

  --lightMainText: rgb(237, 255, 254);
  --darkBackground: rgb(0, 47, 51);
  --darkMainText: rgb(57, 60, 60);
  --greyText: rgb(112, 112, 112);

  /* font sizes */
  --fs-xl: 7rem;
  --fs-800: 3.5rem;
  --fs-700: 2rem;
  --fs-600: 1.75rem;
  --fs-500: 1.4rem;
  --fs-400: 1.2rem; /* main text size. */
  --fs-300: 1rem;
  --fs-200: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navbar-offset);
}

body {
  font-family: "Exo", sans-serif;
}


/* Title Elements */
h1{
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-800);
  text-align: center;
  color: var(--sectionHeaderColor);
}

h3 {
  font-size: var(--fs-600);
}

/* Text Elements */
p, li, a {
  font-size: var(--fs-400);
}

.light-hyperlink {
  color: rgb(98, 233, 243);
}

.dark-hyperlink {
  color: rgb(0, 90, 98);
}


/* header */
header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  background-color: var(--headerColor);
  color: var(--headerTextColor);
  box-shadow: 0 1px 10px rgb(16, 17, 17);
}

#tagline {
  text-align: center;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  /* border: 1px solid red; */
  margin: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  content: '';
}

nav {
  display: none;
  /* display: block; */
}

.nav-toggle:checked ~ nav {
  display: block;
}

 nav ul {
  list-style-type: none;
}

nav li a {
  display: block;
  padding: 1rem;
  text-align: center;
}

.topmenu {
  color: inherit;
  font-weight:bold;
  text-decoration: none;
}

.topmenu:hover, .topmenu:focus {
  color: var(--headerTextHover);
}


/* main */
main{
  color: var(--darkMainText);
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: repeat(auto); */
  /* row-gap: 0; */
  /* column-gap: 2rem; */
}

main > section{
  padding: 2rem 2rem;
}


/* Page Sections */
/* Hero */
#hero {

  background-image: URL(./images/freepik__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  padding-top: 0;
  padding-bottom: 0;
  min-height: 100vh;

  text-align: center;

  display: flex;
  flex-direction: column;
}

/* #small-hello {
  margin-top: auto;
  padding-top: var(--navbar-offset);
  font-size: var(--fs-700);
  font-weight: bold;
}

#slogan {

  font-size: var(--fs-xl);
  font-weight: bold;
  color: var(--sloganColor);
} */

#slogan {
  margin-top: auto;
  padding-top: var(--navbar-offset);

  font-size: var(--fs-xl);
  font-weight: bold;
  color: var(--sloganColor);
}

#intro-message {
  margin-bottom: auto;

  font-size: var(--fs-400);
  color: var(--darkMainText);
}


/* About Me */

#profile-img {
  display: block;

  width: 65%;
  
  margin: 0 auto 2rem;
}
#quick-bio {

  text-align: center;
  font-size: var(--fs-300);
  line-height: 2rem;
  color: var(--greyText);
}

/* Skills */

.all_skills {
  margin: auto 2rem;

  list-style-type: none;
}

.skill-card {
  display: flex;

  margin: 1.2rem 0;
  padding: 0.5rem 1.5rem;
  width: max-content;

  color: var(--darkMainText);

  border-color: rgb(128, 210, 215);
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
}

/* making the cards staggered */
.l-card {
  margin-right: auto;
  margin-left: 18%;
}
.r-card {
  margin-right: 18%;
  margin-left: auto;
}
.l-card.mid-card {
  margin-top: 1rem;
  margin-left: 10%;
}
.r-card.mid-card {
  margin-top: 1rem;
  margin-right: 10%;
}

.skill-card img {
  height: 2.1rem;
  margin-right: 1rem;
}

.skill-title {
  margin-top: 0.5rem;
  margin-bottom: 0.4px;

  font-weight: bold;
  font-size: var(--fs-400);
} 

/* .skill-card p {
  color: var(--greyText);
  font-size: 1rem;
}  */


/* Work Experiences */

.job-card {
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
  /* padding: 2rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
  margin-left: 3rem; */

  /* width: 60%;
  max-width: 60rem; */

  background-color: var(--darkBackground);
  border-radius: 2rem;
  color: var(--lightMainText);
  /* box-shadow: 0 0px 10px rgb(0, 36, 41); */
  /* transition: transform 500ms ease, box-shadow 500ms ease; */
}

/* .job-card:hover, .job-card:focus{
  transform: scale(1.03);
  box-shadow: 0 0px 15px rgb(0, 21, 24);
} */

.no-image {
  margin-top: 5rem;
}

.job-img {
  float: right;
  position: relative;

  width: 50%;

  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: -1rem;

  border-radius: 1.5rem;
  box-shadow: 0 2px 10px rgb(52, 52, 52);
  transition: transform 500ms ease, box-shadow 500ms ease;
  z-index: 1;
}

.job-img:hover, .job-img:focus {
  transform: scale(1.03);
  box-shadow: 0 2px 12px rgb(52, 52, 52);
}

.job-location {
  display: inline;
  font-size: var(--fs-300);
}

.job-dates {
  width: auto;
  float: right;
  font-size: var(--fs-300);
}

.job-card ul {
  margin: 1rem;
}
.job-card li {
  margin: 1rem 0;
}

/* Contact Me */
#contact-me {
  /* grid-column: 1 / -1; */
  margin-bottom: 2rem;

  text-align: center;
}

#contact-me h2 {
  margin-bottom: 2rem;
}
#contact-sources {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.contact-source {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#linkedin-logo {
  height: 40px;
  margin: 0 1rem;
}
#email-logo {
  height: 40px;
  margin: 0 1rem;
}

/* Footer */
footer {
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  width: auto;

  background-color: var(--headerColor);
  color: var(--headerTextColor);
  box-shadow: 0 0px 10px rgb(16, 17, 17);
}

#attribution{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
#attribution p, #attribution a{
  font-size: var(--fs-200);
}

@media (min-width: 750px) {
  :root {
    /* navbar height offset*/
    --navbar-offset: 5rem;
  }

  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  main > section{
    grid-column: 1 / -1;
    padding: 2rem 5rem;
  }

  header {
    flex-direction: row;
  }

  #tagline {
    padding-left: 1rem;
    text-align: left;
  }

  .nav-toggle-label {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    flex-flow: row;
  }

  #hero {
    text-align: right;
  }

  #intro-message {
    margin-left: 30%;
  }

  #about-me{
    grid-column: 1 / 2;
    padding-right: 0;
  }

  #profile-img {
    width: 55%;
  }

  #skills{
    grid-column: 2 / -1;
    padding-left: 0;
  }

  .job-card {
    padding: 2rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
    margin-left: 3rem;

    width: 60%;
    max-width: 60rem;
  }
  .job-img {
    width: 42%;
  
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 750px) {
  :root {
    /* font sizes */
    --fs-xl: 5rem;
    --fs-800: 2.5rem;
    --fs-700: 1.5rem; /* h1 */
    --fs-600: 1.75rem; /* h3 */
    --fs-500: 1.4rem;
    --fs-400: 1rem; /* main text size. */
    --fs-300: 0.8rem;
    --fs-200: 0.6rem;
  }
}

/* Responsiveness */

/* @media (max-width: 1200px) {
  main{
    margin: 0px 4rem;
    color: var(--darkMainText);
  }

  h2 {
    text-align: center;
  }

  .all_skills {
    padding: 0;
  }

  .job-card {
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .job-img {
    width: 45%;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .no-image {
    width: auto;
    margin-right: 0;
  }

  .job-location {
    display: block;
  }
  
  .job-dates {
    float: none;
  }
} */

/* @media (max-width: 900px) {

  h2 {
    margin-bottom: 1rem;
  }

  .job-card {
    width: auto;
    margin-bottom: 1rem;
  }

  .job-img {
    margin-top: 2rem;
  }
} */