* {
  margin: 0;
  padding: 0;
}
:root {
  /* Color Theme Swatches in RGBA */
  /* .Agricultural-worker,-farmer-monitoring-plant-health-in-high-tech-greenhouse,-using-digital-data-analysis-for-modern-agricultural-innovations-and-modern-farming-that-uses-technology-for-future-of-food-1-rgba { color: rgba(2, 114, 114, 1); }
  .Agricultural-worker,-farmer-monitoring-plant-health-in-high-tech-greenhouse,-using-digital-data-analysis-for-modern-agricultural-innovations-and-modern-farming-that-uses-technology-for-future-of-food-2-rgba { color: rgba(0, 38, 38, 1); }
  .Agricultural-worker,-farmer-monitoring-plant-health-in-high-tech-greenhouse,-using-digital-data-analysis-for-modern-agricultural-innovations-and-modern-farming-that-uses-technology-for-future-of-food-3-rgba { color: rgba(69, 114, 2, 1); }
  .Agricultural-worker,-farmer-monitoring-plant-health-in-high-tech-greenhouse,-using-digital-data-analysis-for-modern-agricultural-innovations-and-modern-farming-that-uses-technology-for-future-of-food-4-rgba { color: rgba(114, 165, 3, 1); }
  -backgroundColor { color: rgba(242, 176, 55, 1); } */

  /* Color Theme Swatches in RGBA */
  /* color: rgba(2, 140, 115, 1);
  color: rgba(2, 140, 76, 1);
  color: rgba(189, 216, 91, 1);
  color: rgba(242, 237, 213, 1);
  color: rgba(165, 134, 41, 1); */

  /* Color Theme Swatches in RGBA */
  /* color: rgba(5, 80, 89, 1);
  color: rgba(96, 140, 119, 1);
  color: rgba(143, 191, 168, 1);
  color: rgba(29, 89, 1, 1);
  color: rgba(205, 216, 119, 1); */

  /* Color Theme Swatches in RGBA */
  /* .An-immersive-VR-rainforest-with-digital-wildlife-and-glowing-blue-green-waterfalls-1-rgba { color: rgba(1, 73, 89, 1); }
  .An-immersive-VR-rainforest-with-digital-wildlife-and-glowing-blue-green-waterfalls-2-rgba { color: rgba(78, 216, 216, 1); }
  .An-immersive-VR-rainforest-with-digital-wildlife-and-glowing-blue-green-waterfalls-3-rgba { color: rgba(72, 242, 225, 1); }
  .An-immersive-VR-rainforest-with-digital-wildlife-and-glowing-blue-green-waterfalls-4-rgba { color: rgba(2, 38, 0, 1); }
  .An-immersive-VR-rainforest-with-digital-wildlife-and-glowing-blue-green-waterfalls-5-rgba { color: rgba(87, 191, 84, 1); } */

  /* Color Theme Swatches in RGBA */
  --headerColor:rgb(10, 35, 38);
  --headerTextColor: rgb(28, 165, 175);
  --headerTextHover:rgb(198, 234, 233);

  --sloganColor:rgb(0, 146, 151);
  --sectionHeaderColor: rgb(13, 72, 74);
  --lightMainText: rgb(237, 255, 254);
  --darkBackground: rgb(0, 47, 51);
  --darkMainText: rgb(58, 63, 63);

  /* --backgroundColor: rgb(34, 41, 42); */

    /* Color Theme Swatches in RGBA */
    /* --headerColor:rgb(19, 207, 213);
    --headerTextHover:rgb(224, 255, 254);
    --sloganColor:rgb(43, 221, 224);
    --sectionHeaderColor: rgb(91, 215, 234);
    --darkMainText:rgb(212, 226, 225);
    --headerTextColor: rgb(3, 33, 33);
    --backgroundColor: rgb(26, 33, 33); */

  /* Color Theme Swatches in RGBA */
  /* --headerColor:rgba(10, 33, 38, 1);
  --headerTextHover:rgb(198, 235, 240);
  --sloganColor:rgba(37, 84, 89, 1);
  --darkMainText: rgba(26, 165, 151, 1);
  --backgroundColor: rgb(255, 255, 255); */
}

/* Title Elements */
h1{
  font-size: 2rem;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  color: var(--sectionHeaderColor);
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* Text Elements */
p {
  font-size: 1.2rem;
}

li {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
}


body {
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family: "Lexend Exa", serif;
  background-color: var(--backgroundColor);
  
}
/* Navigation Bar */

header {
  z-index: 100;
  background-color: var(--headerColor);
  /* background-color: rgb(71, 155, 113); */
  /* background-color: #488c68ff; */
  color: var(--headerTextColor);
  /* rgb(24, 46, 35); */
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 10px rgb(16, 17, 17);
}

#tagline {
  padding-left: 1rem;
}

#tagline > p{
  font-size: 1rem;
}

 nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row;
}

nav li a {
  display: block;
  padding: 1rem;
}

.topmenu {
  color: inherit;
  font-weight:bold;
  text-decoration: none;
}

.topmenu:hover, .topmenu:focus {
  color: var(--headerTextHover);
}

main{
  margin: 0px 5rem;
  color: var(--darkMainText);
}

main > section{
  padding-top: 7rem;
}


/* About Me */
#about-me {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  /* justify-content:space-between; */
  /* padding-top: 3rem; */
  align-items: center;
}

#about-me img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

#slogan {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: auto;
  margin-bottom: 0;
  /* width: 45rem; */
  font-size: 4rem;
  font-weight: bold;
  color: var(--sloganColor);
  /* color: #2a4a34ff; */
}

#intro-message {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* width: 45rem; */
  color: var(--darkMainText);
  margin-top: 0;
  margin-bottom: auto;
}

.profile_image {
  width:100%;
  height: auto;
  /* height: fit-content; */
  /* vertical-align: middle; */
}

/* Skills */

#skills{
  /* background-color: var(--headerColor); */
}

.all_skills {
  list-style-type: none;
  padding: 0 4rem;
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  /* justify-content: center; */
  justify-content: center;
  gap: 3rem;
}

.skill-card {
  display: block;
  padding: 1rem;
  text-align: center;
  width: 2in;

  border-radius: 6px;
  box-shadow: 0 3px 10px gray;
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.skill-card:hover, .skill-card:focus {
  transform: scale(1.05);
  box-shadow: 0 3px 15px gray;
}

.skill-card img {
  height: 35px;
  align-items: center;
}

.skill-title {
  align-items: center;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 

.skills p {
  align-items: center;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Work Experiences */
.job-card {
  width: 65%;
  background-color: var(--darkBackground);
  color: var(--lightMainText);
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  box-shadow: 0 0px 10px rgb(0, 36, 41);
  transition: transform 500ms ease, box-shadow 500ms ease;
}

.job-card:hover, .job-card:focus{
  transform: scale(1.03);
  box-shadow: 0 0px 15px rgb(0, 21, 24);
}

.no-image {
  width: auto;
  margin-right: 2rem;
  margin-top: 5rem;
}

.job-img {
  float: right;
  position: relative;
  width: 42%;
  border-radius: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 0.5rem;

  box-shadow: 0 2px 20px rgb(52, 52, 52);
  transition: transform 500ms ease, box-shadow 500ms ease;;
  z-index: 1;
}

.job-img:hover, .job-img:focus {
  transform: scale(1.03);
  box-shadow: 0 2px 25px rgb(52, 52, 52);
}

.job-title {
  font-size: 1.75rem;
}

.job-location {
  display: inline;
  font-size: 1rem;
}

.job-dates {
  width: auto;
  float: right;
  font-size: 1rem;
}

.job-card ul {
  margin: 1rem;
}
.job-card li {
  margin: 1rem 0;
}

/* Contact Me */
#contact-me {
  text-align: center;
  margin-bottom: 4rem;
}

#contact-me h2 {
  margin-bottom: 2rem;
}
#contact-sources {
  /* text-align: center; */
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.contact-source {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  /* flex-direction: ; */
}

#linkedin-logo {
  height: 40px;
  margin: 0 1rem;
}
#email-logo {
  height: 40px;
  margin: 0 1rem;
}

/* Footer */
footer {
  background-color: var(--headerColor);
  color: var(--headerTextColor);
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 0px 10px rgb(16, 17, 17);
}

#attribution {
  margin-top: 1rem;
  font-size: smaller;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}


/* Responsiveness */

@media (max-width: 1200px) {
  main{
    margin: 0px 4rem;
    color: var(--darkMainText);
  }

  h2 {
    text-align: center;
  }

  /* About Me */

  #about-me {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    /* justify-content:space-between; */
    padding-top: 8rem;
    /* align-items: center; */
  }

  #about-me img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto 0;
  }

  #slogan {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: auto 0;
    /* width: 45rem; */
    /* color: #2a4a34ff; */
  }

  #intro-message {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    /* width: 45rem; */
    /* margin-top: 0cm;
    margin-bottom: auto; */
  }

  .profile_image {
    width:100%;
    height: auto;
    /* height: fit-content; */
    /* vertical-align: middle; */
    margin: 5px;
  }

  .all_skills {
    padding: 0;
  }

/* Work experience */
  .job-card {
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .job-img {
    width: 45%;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .no-image {
    width: auto;
    margin-right: 0;
  }

  .job-location {
    display: block;
  }
  
  .job-dates {
    float: none;
  }
}

@media (max-width: 900px) {

  h2 {
    margin-bottom: 1rem;
  }

  .job-card {
    width: auto;
    margin-bottom: 1rem;
  }

  .job-img {
    margin-top: 2rem;
  }
}